
<!---

 /class="govuk-width-container" 
 The matching tags are in hero-area.html
 
 -->

	</main>
</div>



<style>
.govuk-footer { padding-top: 3em;padding-bottom: 9em; border: none; background-color: #B4C4AE;}
.govuk-footer * { font-size: small; }
</style>

<footer class="govuk-footer" role="contentinfo" style="background-image: url('/assets/i/jed-cheers.jpg'); background-size: cover; background-position: top; height:20em;">

  <div class="govuk-width-container">
    <!-- div class="govuk-footer__meta" -->
    <div>



    </div>
  </div>
</footer>




