

{% if page.url == "/" %}
<h1 class="govuk-heading-l" style="color:#fff; background-image: url('/assets/i/redbook.jpg'); background-size: cover; background-position: center; text-align:center; padding:0.75rem 0.5rem;">MCMXXXV&mdash;MMXXV<!-- 90 years?!? --></h1>
{% else %}
<h1 class="govuk-heading-l" style="color:#fff; background-image: url('/assets/i/redbook.jpg'); background-size: cover; background-position: center; text-align:center; padding:0.75rem 0.5rem;">
    <a style="color:#fff;text-decoration:none;" href="/">&larr; GO BACK IN TIME</a>
  </h1>
{% endif %}

<!-- containers - matching tags are in footer include -->

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l">


<!-- 

  <h1 class="govuk-heading-l" style="color:#fff;background-color:red;text-align:center;padding:0.75rem 0.5rem;">

-->