
    <h2 class="govuk-heading-l">Compare your options:</h2>
  
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Checkpoint</th>
      <th class="govuk-table__header">Breakthrough</th>
      <th class="govuk-table__header">Island Retreat</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1-hour remote call</td>
      <td class="govuk-table__cell cl-check">2-hour with prep</td>
      <td class="govuk-table__cell">3-day immersive retreat</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Diagnostic and next steps</td>
      <td class="govuk-table__cell">Mapping and structured plan</td>
      <td class="govuk-table__cell">Holistic strategy and longer-term vision</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Problem-space hack</td>
      <td class="govuk-table__cell">Reaching decisions and doing it right</td>
      <td class="govuk-table__cell">Learning the skills to sustain resilience</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1-page clarity summary</td>
      <td class="govuk-table__cell">Roadmap and action plan</td>
      <td class="govuk-table__cell">Multi-day workbook and strategic blueprint</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1-to-1 coaching</td>
      <td class="govuk-table__cell">1-to-1 coaching</td>
      <td class="govuk-table__cell">Co-design with a small group</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">No prep work</td>
      <td class="govuk-table__cell">Prep call and worksheet</td>
      <td class="govuk-table__cell">Pre-session planning and reflection</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Online (remote)</td>
      <td class="govuk-table__cell">Online (remote)</td>
      <td class="govuk-table__cell">In person in Scotland</td>
    </tr>
  </tbody>
</table>
