
<h2 class="govuk-heading-l">What do others say about their Clarity Lab experience?</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <img src="{{ site.baseurl}}/assets/i/facilitators.png" class="cl-icon-m" alt="Expert Facilitators">
        <h3 class="govuk-heading-m">
        <q>I was stuck in an endless loop, questioning past decisions and second-guessing my moves. It was completely paralysing – both in making new choices and in feeling confident about my life’s direction. The Checkpoint session at Clarity Lab helped me get off that track. In just one conversation, I went from ruminating on the past to seeing the potential for change. I did come away with clarity, a lot of relief, and the ability to pivot towards what really matters to me. If you feel stuck, don’t hesitate – this process works.</q></h3>
        <p class="govuk-body"> — Doug S.,<br>University Lecturer</p>
    </div>
    
    <div class="govuk-grid-column-one-half">
        <img src="{{ site.baseurl}}/assets/i/toolkit.png" class="cl-icon-m" alt="Comprehensive Toolkit">
        <h3 class="govuk-heading-m">
        <q>Our team had never done anything like this before. Over three days, we worked through the entire Clarity Lab process – mapping problems, understanding our influence, envisioning our future, and laying out a structured roadmap. It was transformational. By the end of the retreat, my team had an actionable plan, a renewed sense of purpose, and a framework for tackling future challenges. It was so effective that when I moved to a new role, I immediately brought Clarity Lab in again. If you're looking for a facilitated strategy process that actually moves the needle, this is it.</q></h3>
        <p class="govuk-body"> — James C.,<br>Product Director</p>
    </div>
</div>

