
<!-- testimonials (hold these) -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">What people say:</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <img src="{{ site.baseurl}}/assets/i/facilitators.png" class="cl-icon-m" alt="Expert Facilitators">
        <h3 class="govuk-heading-m">
        “Alicia has an incredible way of helping you see what’s been holding you back. If you feel stuck, you need this session.”</h3>
        <p class="govuk-body"> — Mark P.,<br>Business Owner, Entrepreneur</p>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <img src="{{ site.baseurl}}/assets/i/retreats.png" class="cl-icon-m" alt="Unique Retreats">
        <h3 class="govuk-heading-m">
        <q>I walked into the session feeling overwhelmed by my options. I walked out with a clear decision and a plan I actually believe in.</q></h3>
        <p class="govuk-body"> — Sarah T.,<br>Senior Product Manager</p>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <img src="{{ site.baseurl}}/assets/i/toolkit.png" class="cl-icon-m" alt="Comprehensive Toolkit">
        <h3 class="govuk-heading-m">
        <q>Best investment I made this year. Getting clarity early in your journey is key.</q></h3>
        <p class="govuk-body"> — Anna W.,<br>Startup Founder</p>
    </div>
</div>
